[Unit]
Description=DMM7510 IOC %p%I
After=rc-local.service
Wants=rc-local.service
After=network-online.target
Wants=network-online.target

[Service]
# Source environment
EnvironmentFile=/etc/sysconfig/dmm7510-epics-ioc
EnvironmentFile=/etc/sysconfig/dmm7510-epics-ioc-mapping
# Execute pre with root
PermissionsStartOnly=true
Environment=DMM7510_INSTANCE=%i
ExecStartPre=/bin/mkdir -p /var/log/procServ/%p%i
ExecStartPre=/bin/mkdir -p /var/run/procServ/%p%i
WorkingDirectory=/opt/epics/startup/ioc/dmm7510-epics-ioc/iocBoot/iocdmm7510
# Run procServ with IOC
ExecStart=/bin/bash -c "\
    DMM7510_CURRENT_PV_AREA_PREFIX=DMM7510_${DMM7510_INSTANCE}_PV_AREA_PREFIX && \
    DMM7510_CURRENT_PV_DEVICE_PREFIX=DMM7510_${DMM7510_INSTANCE}_PV_DEVICE_PREFIX && \
    DMM7510_CURRENT_DEVICE_IP=DMM7510_${DMM7510_INSTANCE}_DEVICE_IP && \
    DMM7510_CURRENT_DEVICE_PORT=DMM7510_${DMM7510_INSTANCE}_DEVICE_PORT && \
    DMM7510_CURRENT_DEVICE_TELNET_PORT_SUFFIX=DMM7510_$${DMM7510_INSTANCE}_TELNET_PORT_SUFFIX && \
    DMM7510_PV_AREA_PREFIX=${!DMM7510_CURRENT_PV_AREA_PREFIX} && \
    DMM7510_PV_DEVICE_PREFIX=${!DMM7510_CURRENT_PV_DEVICE_PREFIX} && \
    DMM7510_DEVICE_IP=${!DMM7510_CURRENT_DEVICE_IP} && \
    DMM7510_DEVICE_PORT=${!DMM7510_CURRENT_DEVICE_PORT} && \
    /usr/local/bin/procServ \
    -f \
    -n %p%i \
    -i ^C^D \
    $${PROCSERV_DMM7510_PORT_PREFIX}$${!DMM7510_CURRENT_DEVICE_TELNET_PORT_SUFFIX} \
    ./runGenericCT.sh \
    -i ${DMM7510_DEVICE_IP} \
    -p ${DMM7510_DEVICE_PORT} \
    -d ${DMM7510_INSTANCE} \
    -P ${DMM7510_PV_AREA_PREFIX} \
    -R ${DMM7510_PV_DEVICE_PREFIX}"

[Install]
WantedBy=multi-user.target
