TEMPLATE_TOP=$(EPICS_BASE)/templates/makeBaseApp/top

SUPPORT=/opt/epics/synApps-lnls-R1-0-0/support

# If using the sequencer, point SNCSEQ at its top directory:
SNCSEQ=$(SUPPORT)/seq-2-2-1

# EPICS_BASE usually appears last so other apps can override stuff:
EPICS_BASE=/opt/epics/base

# Set RULES here if you want to take build rules from somewhere
# other than EPICS_BASE:
#RULES=/path/to/epics/support/module/rules/x-y

ASYN=$(SUPPORT)/asyn-R4-33
STREAM=$(SUPPORT)/stream-R2-7-7
CALC=$(SUPPORT)/calc-R3-7
SNCSEQ=$(SUPPORT)/seq-2-2-6
AUTOSAVE=$(SUPPORT)/autosave-R5-9
